body {
    background-image: url("./img/familiaBg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

nav {
    position: fixed;
    top: 0px;
}

.row-menu {
    height: 150px;
}
footer {
    position: fixed;
    bottom: 0px;
}